<div
  class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 h-screen w-screen">
  <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="w-12">
        <img src="assets/images/logo.png">
      </div>

      <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Login in</div>



      <form class="mt-8" [formGroup]="loginForm" #signInNgForm="ngForm">

        <mat-form-field class="w-full">
          <mat-label>username</mat-label>
          <input id="username" matInput [formControlName]="'username'">
          <mat-error>
            Username is required
          </mat-error>

        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
          <button mat-icon-button type="button"
            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
            matSuffix>
            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'">remove_red_eye</mat-icon>
            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'">remove_red_eye</mat-icon>
          </button>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>


        <button class="  w-full mt-6" mat-flat-button [color]="'primary'" (click)="signIn()">
          <span>
            Log in
          </span>
        </button>



      </form>
    </div>
  </div>
  <div
    class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden  bg-gray-100 ">
    <img src="assets/images/logo.png">
  </div>
</div>
